{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/profile-user') }}
{% endblock %}

{% block title %}Profil de {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <section class="jumbotron jumbotron-fluid header-profile-user">
            <div class="container content-header-profile">
                <h1>Bienvenue {{ user.fullName }}</h1>
                <span class="badge badge-danger my-4">
                    {{ user.type }}
                </span>
                <p class="mb-4">Inscrit depuis le {{ user.createdAt | date('d/m/Y') }}</p>
                <a href="{{ path('account_profile_editUser') }}" class="btn btn-primary mb-2 mb-sm-0"><i class="fas fa-pen"></i> Modifier mon profil</a>
                <a href="{{ path('account_profile_editUserPassword') }}" class="btn btn-success"><i class="fas fa-unlock-alt"></i> Modifier mon mot de passe</a>
            </div>
        </section>

        <section class="content-profile-user">
            <div class="container">
                {% if user.type == "Employeur" %}
                    <h1>Liste de vos offres d'emplois</h1>
                    {% if countJobs > 0 %}
                        <a href="{{ path('job_new') }}" class="btn btn-primary my-4"><i class="fas fa-plus"></i> Ajouter un nouvel emploi</a>
                        <table class="table table-hover table-responsive">
                            <thead>
                            <tr>
                                <th scope="col">Référence</th>
                                <th scope="col">Publié le</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Description</th>
                                <th scope="col">Entreprise</th>
                                <th scope="col">Lieu</th>
                                <th scope="col">Expérience</th>
                                <th scope="col">Contrat</th>
                                <th scope="col">Personne de contact</th>
                                <th scope="col">Email de contact</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for job in jobs %}
                                    <tr>
                                        <td>{{ job.id }}</td>
                                        <td>{{ job.createdAt | date('d/m/Y') }}</td>
                                        <td>{{ job.title }}</td>
                                        <td>{{ job.description | slice(0, 19) }}...</td>
                                        <td>{{ job.enterprise }}</td>
                                        <td>{{ job.place }}</td>
                                        <td>{{ job.experience }}</td>
                                        <td>{{ job.contract }}</td>
                                        <td>{{ job.contactPerson }}</td>
                                        <td>{{ job.emailContact }}</td>
                                        <td class="d-flex">
                                            <a href="{{ path('job_show', {id:job.id, slug:job.slug}) }}" class="btn btn-sm btn-primary mr-2">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a href="{{ path('account_profile_editJob', {id:job.id, slug:job.slug}) }}" class="btn btn-sm btn-success mr-2">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                            <a href="{{ path('account_profile_deleteJob', {id:job.id, slug:job.slug}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Souhaitez-vous vraiment supprimer ce job ?')">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3 class="mb-4">Actuellement, vous n'avez aucun emploi</h3>
                        <a href="{{ path('job_new') }}" class="btn btn-primary">Créer un nouvel emploi</a>
                    {% endif %}
                {% else %}
                    <h1>Liste de vos candidatures</h1>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </section>
    {% endif %}

{% endblock %}
