{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/registration-user-form') }}
{% endblock %}

{% block title %}Inscription d'un nouvel utilisateur{% endblock %}

{% block body %}
    <section class="user-registration-form">
        <div class="container">
            <h1 class="h3 mb-5">Inscrivez-vous</h1>
            {{ form_start(form) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.type) }}
            {{ form_row(form.password) }}
            {{ form_row(form.passwordConfirm) }}
            <div class="form-group">
                <button class="btn btn-danger" type="submit">S'inscrire</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}