<nav class="navbar navbar-expand-lg bg-navbar fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="{{ asset('/build/images/logo-easy-job.png') }}" width="55" height="55" alt="Logo easy job">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('job_index') }}">Trouver un emploi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('job_new') }}">Ajouter un emploi</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="btn btn-danger" href="{{ path('job_new') }}"><i class="fas fa-plus"></i> Ajouter un job</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.fullName }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                        <i class="fas fa-sort-up"></i>
                        <a class="dropdown-item" href="{{ path('account_profile') }}">Profil</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_logout') }}">Se Déconnecter</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_registration') }}">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger" href="{{ path('job_new') }}"><i class="fas fa-plus"></i> Ajouter un job</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{# SYSTEME DE FLASH #}

{% for label, messages in app.flashes %}
    <div class="container message-flash" style="margin-top: 100px;">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
{% endfor %}