<footer class="site-footer">
    <div class="container">


        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4 text-white">A propos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quos rem ullam, placeat amet.</p>
                <p><a href="#" class="btn btn-primary pill text-white px-4">En savoir plus</a></p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="footer-heading mb-4 text-white">Liens rapides</h3>
                        <ul class="list-unstyled">
                            <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ path('admin_job_index') }}">Emplois</a></li>
                            <li><a href="{{ path('admin_category_index') }}">Catégories</a></li>
                            <li><a href="{{ path('admin_apply_index') }}">Candidature</a></li>
                            <li><a href="{{ path('admin_contact_index') }}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 class="footer-heading mb-4 text-white">Actions</h3>
                        <ul class="list-unstyled">
                            <li><a href="{{ path('admin_job_new') }}">Ajouter un emploi</a></li>
                            <li><a href="{{ path('admin_user_new') }}">Ajouter un utilisateur</a></li>
                            <li><a href="{{ path('admin_category_new') }}">Ajouter une catégorie</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="col-md-12">
                    <h3 class="footer-heading mb-4 text-white">Sociaux</h3>
                </div>
                <div class="col-md-12">
                    <p>
                        <a href="#" class="pb-2 pr-2 pl-0"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="p-2"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="p-2"><i class="fab fa-instagram"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    &copy; All Rights Reserved | <strong>EASY JOB</strong>
                </p>
            </div>

        </div>
    </div>
</footer>