<section class="new-job-form">
    <div class="container">
        <h1 class="h3 mb-5">{{ title }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ title }}</button>
            <a href="{{ path('account_profile') }}" class="btn btn-danger">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
</section>