{% extends 'base.html.twig' %}

{% block title %}{{ job.title }} - {{ job.id }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/show-job') }}
{% endblock %}

{% block body %}
    <section class="jumbotron jumbotron-fluid header-show-job">
        <div class="container">
            <h1>{{ job.title }}</h1>
        </div>
    </section>

    <section class="details-job">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-1 order-lg-0">
                    <h2 class="mt-5 mt-lg-0">{{ job.title }}</h2>
                    <div class="d-flex">
                        <p>
                            <i class="fas fa-building"></i> {{ job.enterprise }}
                        </p>
                        <p>
                            <i class="fas fa-tag"></i> {{ job.categories }}
                        </p>
                        <p>
                            <i class="fas fa-map-marker-alt"></i> {{ job.place }}
                        </p>
                    </div>
                    <h3>Description</h3>
                    <p>
                        {{ job.description | nl2br }}
                    </p>
                    <h3>Comment postuler ?</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <span class="font-weight-bold">Soit par email:</span><br>Il vous suffit d'envoyer un email à la personne de contact en y joignant votre CV et lettre de motivation et en n'oubliant pas de <strong>mentionner la référence de l'offre !</strong>
                        </li>
                        <li>
                            <span class="font-weight-bold">Soit directement sur le site:</span><br>
                            <a href="{{ path('apply_new', {id:job.id, slug:job.slug}) }}" class="btn btn-danger mt-2">Postuler maintenant</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 order-0 order-lg-1">
                    <div class="d-flex">
                        <a href="{{ path('job_like', {id:job.id}) }}" class="btn btn-primary mr-3 js-like">
                            {% if app.user and job.isLikedByUser(app.user) %}
                                <i class="fas fa-heart"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                            Enregistrer
                        </a>
                        <a href="{{ path('apply_new', {id:job.id, slug:job.slug}) }}" class="btn btn-danger">Postuler</a>
                    </div>
                    <div class="bg-light p-3 border rounded bg-sommary">
                        <h3 class="pl-3 text-primary">Informations</h3>
                        <ul class="list-unstyled pl-3">
                            <li class="mb-2">
                                <span class="list-sommary">Numéro de référence:</span> {{ job.id }}
                            </li>
                            <li class="mb-2">
                                <span class="list-sommary">Publiée le:</span> {{ job.createdAt | date('d/m/Y') }}
                            </li>
                            <li class="mb-2">
                                <span class="list-sommary">Type de contrat:</span> {{ job.contract }}
                            </li>
                            <li class="mb-2">
                                <span class="list-sommary">Expérience:</span> {{ job.experience }}
                            </li>
                            <li class="mb-2">
                                <span class="list-sommary">Entreprise:</span> {{ job.enterprise }}
                            </li>
                            <li class="mb-2">
                                <span class="list-sommary">Lieu:</span> {{ job.place }}
                            </li>
                            <li class="mb-2">
                                <span class="list-sommary">Personne de contact:</span> {{ job.contactPerson }}
                            </li>
                            <li class="mb-2">
                                <span class="list-sommary">Email de contact:</span> {{ job.emailContact }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/showJob') }}
{% endblock %}