{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/homepage') }}
    {{ encore_entry_link_tags('css/card-job') }}
{% endblock %}

{% block body %}
    <section class="header-homepage overlay" style="background-image: url('/build/images/header-homepage.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="mb-5">Cherchez parmis les nombreuses offres d'emplois et trouvez le job idéal...</h1>
                        <a href="{{ path('job_index') }}" class="btn btn-danger">Rechercher maintenant</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-categories-homepage">
        <div class="container">
            <h2 class="text-center">Les catégories</h2>
            <div class="row">

                {% for category in categories %}

                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="{{ path('job_category', {slug:category.slug}) }}" class="h-100 feature-item">
                            <h2>{{ category.name }}</h2>
                            <span class="counting">{{ category.jobs | length }}</span>
                        </a>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>

    <section class="section-recent-job-homepage bg-light">
        <div class="container">
            <h2 class="text-center">Emplois récents</h2>
            {% if countLastJobs > 0 %}
                {% for lastJob in lastJobs %}
                    {% include 'job/_card-job.html.twig' with {job:lastJob} %}
                {% endfor %}
            {% else %}
                <h3>Aucune offre d'emploi est disponible pour le moment !</h3>
            {% endif %}

        </div>
    </section>

    <section class="jumbotron jumbotron-fluid call-to-action-employee">
        <div class="container">
            <div class="content-call-to-action-employee">
                <h2 class="mb-5">Vous êtes patron ? <br>Ajouter un emploi et trouver le candidat idéal.<br>C'est gratuit !</h2>
                <a href="{{ path('job_new') }}" class="btn btn-danger">Ajouter un emploi</a>
            </div>
        </div>
    </section>
{% endblock %}
